#empty_fav {
  margin: 50px auto;
  padding: 50px;
  backdrop-filter: blur(7px);
  border: 1px solid gray;
  border-radius: 20px;
}
#empty_fav img {
  border-radius: 20px;
}

/* //////// */

#user_data_div {
  width: 50%;
  transition: 0.5s;
  margin: auto;
}
.fav_user_detail {
  border-bottom: 3px solid rgb(221, 221, 221);
  backdrop-filter: blur(7px);
  padding: 1%;
  height: 125px;
  transition: 0.7s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.8s;
}
.fav_user:hover {
  background-color: #b9c3cc7a;
}

.user_name {
  width: 25%;
}
.user_last_name {
  width: 30%;
}
